.quantidade{
  margin-right: 2rem;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 6rem;
  font-weight: 500;
  vertical-align: middle;
}

.botao{
  margin: 1rem 0;
}

.imagens{
  margin: 0 10rem;
}

.imagens-conteudo{
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255,255,255,0.9);
  padding: 1rem;
}

